.links {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10001;
	width: 100px;
	height: 200px;
	line-height: 19.2px;
	display: block;
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
	font-family: Ubuntu, Arial, "libra sans", sans-serif;
	font-weight: 300;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
}

.linksList {
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
	-moz-box-sizing: border-box;
	background: none repeat scroll 0 0 #fff;
	margin: 0 auto;
	width: 100px;
	height: 200px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10001;
}

li.activeSite {
	border-right: 3px solid #dd4814;
}

ul.siteLink {
	list-style: none;
	list-style-type: none;
}

li.siteLink {
	display: block;
}

.stickyToolbarWrapper {
	position: fixed;
	top: 0px;
	left: 130px;
	z-index: 10001;
}

.stickyToolbar {
	position: fixed;
	top: 0px;
	z-index: 10000;
	margin: 0px auto;
}