.hover:hover {
	background-color: #444;
	text-decoration: none !important;
}

.chatButton {
	color: rgb(128, 128, 128);
	line-height: 30px;
	font-size: 176%;
	background-image: url('http://teamfreehugs.github.io/img/chat.png');
	width: 32px;
	height: 32px;
	display: inline-block;
	height: 34px;
	vertical-align: top;
	text-align: center;
	background-size: 32px 32px;
	background-repeat: no-repeat;
}

.chatDialog {
	width: 450px;
	max-height: 505px;
	top: 34px;
	left: 241px;
	font-size: 12px;
}