@CHARSET "ISO-8859-1";

.stickyToolbarWrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 980px;
	margin: 0 auto;
	height: 34px;
	text-align: left;
	width: 1000px;
	padding-left: 0;
	padding-right: 30px;
	margin-left: 10px;
	margin-right: 0;
}

.stickyToolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 980px;
	margin: 0 auto;
	height: 34px;
	text-align: left;
	width: 1000px;
	padding-left: 0;
	padding-right: 30px;
	margin-left: 10px;
	margin-right: 0;
	
	z-index: 10000;
	font-size: 13px width:100%;
	background: #2f2f2f;
	background: rgba(0, 0, 0, 0.86);
	height: 34px;
	line-height: 1;
	transition: none;
	border: 1px solid #cbcbcb;
	font-size: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	border-radius: 0;
	padding: 3px;
	margin: 5px 0 5px 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	display: inline-block;
	vertical-align: top;
	width: 1000px;
	height: 34px;
	text-align: left;
	display: inline-block;
	color: #fff;
	text-indent: 0;
	border-radius: 2px;
	padding: 1px 6px 1px 6px;
	font-size: 11px;
	line-height: 1;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.stickyToolbarLinks {
	
}