@CHARSET "UTF-8";

button, input[type="submit"] {
	border-radius: 25px;
	background-color: #BFE8B0;
	outline: none;
	border: 2px solid #90C3D4;
	opacity: 0.8;
	padding: 10px 30px;
	transition: border 1s, background-color 1s, opacity 1s;
	-webkit-transition: border 1s, background-color 1s, opacity 1s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	padding: 10px 30px;
}

button:hover, input[type="submit"]:hover {
	border: 2px solid #A6DBED;
	background-color: #AEF097;
	opacity: 1;
	transition: border 1s, background-color 1s, opacity 1s;
	-webkit-transition: border 1s, background-color 1s, opacity 1s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}

button:focus {
	background-color: #AEF097;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	transition: background-color 1s;
}

hr {
	height: 1.2px;
	width: calc(100% - 10px);
	border: none;
	background: -webkit-linear-gradient(left, #FFFFFF, #D9D9D9, #FFFFFF);
	background: -o-linear-gradient(left, #FFFFFF, #D9D9D9, #FFFFFF);
	background: -moz-linear-gradient(left, #FFFFFF, #D9D9D9, #FFFFFF);
	background: linear-gradient(left, #FFFFFF, #D9D9D9, #FFFFFF);
	background: -webkit-linear-gradient(left, #FFFFFF, #D9D9D9, #FFFFFF);
	border: none;
}

span:not ([class="kwd"] ), span:not ([class="pln"] ), span:not ([class="pun"]
	 ), span:not ([class="com"] ), span:not ([class="typ"] ), span:not ([class="str"]
	 ), kfrmtre {
	font-family: "Arial Black", Gadget, sans-serif;
}

a, button, p, h1, h2, h3, h4, h5, h6, sub, sup, small, cite, dt, kbd,
	input, textarea {
	font-family: "Arial Black", Gadget, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

a {
	text-decoration: none;
	color: #54D4FF;
	transition: color 1s;
	-webkit-transition: color 1s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}

a:visited {
	color: #358FBD;
	transition: color 1s;
	-webkit-transition: color 1s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}

code, pre {
	font-family: "Lucida Console", Monaco, monospace;
	background-color: #ADADAD;
	width: 500px;
	overflow: auto;
	max-height: 500px;
}

kbd {
	/*
	Stackexchange style!
	*/
	padding: .1em .6em;
	border: 1px solid #ccc;
	font-size: 11px;
	background-color: #f7f7f7;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff;
	border-radius: 3px;
	display: inline-block;
	margin: 0 .1em;
	text-shadow: 0 1px 0 #fff;
	line-height: 1.4;
	white-space: nowrap;
}

textarea {
	background-color: #FFFFFF;
	resize: none;
	border: 1px solid #B0B0B0;
	border-radius: 2.3px;
	font-size: 14px;
	width: 500px;
	height: 200px;
	scroll: auto;
	white-space: nowrap;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	resize: none;
}

textarea:focus {
	background-color: #E1F4FA;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}

input[type="text"] {
	background-color: #FFFFFF;
	border: 1px solid #B0B0B0;
	border-radius: 2.3px;
	font-size: 14px;
	width: 500px;
	scroll: auto;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}

input[type="text"]:focus {
	background-color: #E1F4FA;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}

*::-moz-focus-inner {
	border: 0;
}