input[type="text"] {
	border: none;
	background-color: #B3B3B3;
}

input[type="text"]:hover {
	background-color: #969696;
}

input[type="text"]:focus {
	background-color: #DEDEDE;
}

.noSelectText {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button {
	border-radius: 5px;
	background-color: #4EDBE6;
	border: none;
	padding: 1px;
}

.button:hover {
	background-color: #56B3BA;
	color: #E8E8E8;
}

.button:focus {
	background-color: #59ECF7;
}

*::-moz-focus-inner {
	border: 0;
}

.toolbar {
	position: absolute;
	top: 44px;
	right: 0px;
	width: 200px;
	border: none;
	height: calc(100vh - 44px);
	background-color: grey;
}

.canvas {
	position: absolute;
	top: 44px;
	left: 0px;
	height: calc(100vh - 44px);
	width: calc(100vh - 200px);
	left: 0;
	border: none;
}

.popup-box {
	position: absolute;
	width: 500px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -250px;
	background-color: #FFFFFF;
	z-index: 100000000;
	border: 2px solid #000000;
	border-radius: 15px;
}

.popup-header {
	height: 40px;
	line-height: 40px;
	margin-top: -19px;
	border-bottom: 2px solid #000000;
	background: grey;
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.popup-body {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 40px;
	background: #FFFFFF;
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
}

.rightClickDiv {
	z-index: 1000000;
	background-color: #000000;
	border: 1px solid #FFFFFF;
	width: 500px;
	height: 300px;
	position: fixed;
	top: 100;
	left: 100;
}

.toolbarButton {
	margin: 3px;
	background-color: #E3E3E3;
	border: none;
	border-radius: 3px;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
}

.toolbarButton:hover {
	background-color: #D1D1D1;
	color: #000000;
}

.activeTool {
	background-color: #FFB52B;
}

.activeTool:hover {
	background-color: #FFA600;
}