@CHARSET "ISO-8859-1";

.quote {
	border-left: 5px solid #EBC17A;
	background-color: #F7E5C6;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
}

.code {
	background-color: #E0E0E0;
	overflow: auto;
	height: auto;
}

.spoiler-insides {
	padding: 0px;
}

@
keyframes fadein {
	from: opacity: 0%;
	to: opacity: 100%;
}

@
keyframes fadeout {
	from: opacity: 100%;
	to: opacity 0%;
}

.spoilerIn {
	animation-name: fadein;
	animation-duration: 3s;
}

.spoilerOut {
	animation-name: fadeout;
	animation-duration: 3s;
}