@CHARSET "ISO-8859-1";

a:hover, a:visited, a:link, a:active {
	text-decoration: none;
	color: #329EC9;
}

.niceText {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
	float: left;
	margin-left: auto;
	margin-right: auto;
}

.userDivRegistered {
	background-color: #DED78E;
	height: auto;
	padding: 5px;
	width: 250px;
}

.userDivUnregistered {
	background-color: #888;
	height: auto;
	padding: 5px;
	width: 250px;
}

.userImage {
	height: 32px;
	width: 32px;
}

.userInfo {
	padding: 2px;
}

.inline {
	display: inline-block;
	white-space: nowrap;
	vertical-align: top;
}

.content {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.postContent {
	font-family: "Arial", Helvetica, sans-serif;
}

.avatarText {
	line-height: 80%;
}

.postDetails {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: grey;
}

.accepted {
	color: green;
	bold: true;
}

.acceptedIcon {
	background-image:
		url('http://meta.stackexchange.com/content/stackoverflowmeta/img/sprites.png');
	background-position: -40px -270px;
	display: block;
	margin: 0 auto;
	text-indent: -999em;
	width: 40px;
	height: 40px;
	margin-bottom: 2px;
	text-indent: -9999em;
	font-size: 1px;
	position: absolute;
	left: 0;
}

a.postTag {
	line-height: 14px;
	padding-top: .3em;
	padding-bottom: .3em;
	margin-top: 0 3px;
	margin-bottom: 5px 0 !important;
	margin: 6px 3px 0 3px;
	margin-right: 6px;
	color: #566e76;
	background: #f7fdff;
	border: 1px solid #c0d4db;
	padding: .4em .5em;
	border-radius: 15px;
	text-decoration: none;
	text-align: center;
	font-size: 11px;
	line-height: 1;
	white-space: nowrap;
	display: inline-block;
	color: #3e6d8e;
	font-size: 12px;
	white-space: nowrap;
	border-radius: 0;
	-webkit-transition: color 0.15s ease, background 0.15s ease, border
		0.15s ease;
	-moz-transition: color 0.15s ease, background 0.15s ease, border 0.15s
		ease;
	-ms-transition: color 0.15s ease, background 0.15s ease, border 0.15s
		ease;
	-o-transition: color 0.15s ease, background 0.15s ease, border 0.15s
		ease;
}

.post-tag:hover {
	text-decoration: none;
	color: #3e6d8e;
	background-color: #dae6ef;
	border: 1px solid #dae6ef;
}

.post-tag:first-child {
	margin-left: 6px;
}

a.post-tag {
	cursor: default;
	margin-right: 4px;
}

span.post-tag {
	opacity: .5;
}

a.postTag-required {
	line-height: 14px;
	padding-top: .3em;
	padding-bottom: .3em;
	margin-top: 0 3px;
	margin-bottom: 5px 0 !important;
	margin: 6px 3px 0 3px;
	margin-right: 6px;
	color: #555;
	background: #ececec;
	border: 1px solid #c0d4db;
	padding: .4em .5em;
	border-radius: 15px;
	text-decoration: none;
	text-align: center;
	font-size: 11px;
	line-height: 1;
	white-space: nowrap;
	display: inline-block;
	color: #3e6d8e;
	font-size: 12px;
	white-space: nowrap;
	border-radius: 0;
	-webkit-transition: color 0.15s ease, background 0.15s ease, border
		0.15s ease;
	-moz-transition: color 0.15s ease, background 0.15s ease, border 0.15s
		ease;
	-ms-transition: color 0.15s ease, background 0.15s ease, border 0.15s
		ease;
	-o-transition: color 0.15s ease, background 0.15s ease, border 0.15s
		ease;
}

.post-tag-required:hover {
	text-decoration: none;
	color: #3e6d8e;
	background-color: #dae6ef;
	border: 1px solid #dae6ef;
}

.post-tag-required:first-child {
	margin-left: 6px;
}

a.post-tag-required {
	cursor: default;
	margin-right: 4px;
}

span.post-tag-required {
	opacity: .5;
}

a.postTag-mod {
	line-height: 14px;
	padding-top: .3em;
	padding-bottom: .3em;
	margin-top: 0 3px;
	margin-bottom: 5px 0 !important;
	margin: 6px 3px 0 3px;
	margin-right: 6px;
	color: #af3235;
	background: #ffecec;
	border: 1px solid #c0d4db;
	padding: .4em .5em;
	border-radius: 15px;
	text-decoration: none;
	text-align: center;
	font-size: 11px;
	line-height: 1;
	white-space: nowrap;
	display: inline-block;
	font-size: 12px;
	white-space: nowrap;
	border-radius: 0;
	-webkit-transition: color 0.15s ease, background 0.15s ease, border
		0.15s ease;
	-moz-transition: color 0.15s ease, background 0.15s ease, border 0.15s
		ease;
	-ms-transition: color 0.15s ease, background 0.15s ease, border 0.15s
		ease;
	-o-transition: color 0.15s ease, background 0.15s ease, border 0.15s
		ease;
	background: #ffecec;
}

.post-tag-mod:hover {
	text-decoration: none;
	color: #3e6d8e;
	background-color: #dae6ef;
	border: 1px solid #dae6ef;
}

.post-tag-mod:first-child {
	margin-left: 6px;
}

a.post-tag-mod {
	cursor: default;
	margin-right: 4px;
}

span.post-tag-mod {
	opacity: .5;
}