@CHARSET "ISO-8859-1";

a:hover, a:visited, a:link, a:active {
	text-decoration: none;
	color: #329EC9;
}

.niceText {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.userDivRegistered {
	background-color: #DED78E;
	height: auto;
	padding: 5px;
	width: 250px;
}

.userDivUnregistered {
	background-color: #888;
	height: auto;
	padding: 5px;
	width: 250px;
}

.userImage {
	height: 64px;
	width: 64px;
}

.userInfo {
	padding: 2px;
}

.inline {
	display: inline-block;
	white-space: nowrap;
	vertical-align: top;
}

.content {
	float: left;
}