@CHARSET "ISO-8859-1";

a:hover, a:visited, a:link, a:active {
	text-decoration: none;
	color: #329EC9;
}

.niceText {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.userDivRegistered {
	background-color: #DED78E;
}

.userDivUnregistered {
	background-color: #888;
}

.userImage {
	height: 32px;
	width: 32px;
}