.round {
	border-radius: 25px;
	background: #81F0CF;
	border: 2px solid #81F0CF;
	padding: 20px;
	width: auto;
	height: auto;
}

.bottom {
	z-index: -10000;
}

.center {
	text-align: center;
}

.shadow {
	box-shadow: 10px 10px 5px grey;
}


